* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #eff0f3;
}

.flex-header {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 8px 8px -4px rgb(192, 192, 192);
    background-color: #fffffe;
    padding: 1%;
}

h3 {
    background-color:transparent;
    font-size: 1.5em;
}

.links {
    display: flex;
    background-color: transparent;
    gap: 25%;
}

ul {
    list-style-type: none;
    background-color: transparent;
}

li {
    background-color: transparent;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 400px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    background-color: transparent;
}

.btn {
    margin-top: 5%;
    margin-bottom: 100%;
    border: 3px solid #0d0d0d;
    border-radius: 7px;
    background-color: transparent;
    font-size: 2em;
    padding: 1% 3%;
}

.btn:hover {
    background-color: #0d0d0d;
    color: #fffffe;
    transition: 0.7s;
}

.btn:active {
    background-color:#ff8e3c;
    transition: 0s;
}

h1 {
    background-color:#0d0d0d;
    color: #fffffe;
    border-radius: 5px;
    padding: 1% 2%;
    font-size: 3em;
}

a {
    background-color: transparent;
    color: #ff8e3c;
    text-decoration: none;
}

a:hover {
    border: 2px #0d0d0d solid;
    border-radius: 5px;
    padding: 5%;
    color: #0d0d0d;
}

.color {
    background-color: transparent;
    color: #ff8e3c;
}

strong {
    background-color: transparent;
}
